// settings for customization
$container-padding: 72px;
$container-margin: 72px;

.bg-2 {
  background-color: $body-bg-2; 
}

.container-wrapper {
  padding-top: $container-padding;
  padding-bottom: $container-padding;
  // margin-top: $container-margin;
  // margin-bottom: $container-margin;
}