.image-container {
  max-height: 200px;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: scale-down;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    max-width: 500px !important;
  }
}