.infoCard-wrapper {
  text-decoration: none;
  color: inherit;
  
  &:hover {
    color: inherit;
    cursor: pointer;
  }
}

.infoCard {
  display: block;

  img {
    border-radius: 16px;
  }

  h3 {
    font-weight: 900;
    text-decoration: none;
    font-size: 1.2rem;
    min-height: 60px;
  }

  // add to infoBox to transform into a Porfolio Card
  &.portfolioCard {
    background-color: white;
    border-radius: 16px;
    padding: 32px;
    box-shadow: $card-shadow; 

    transition:  0.5s;
    &:hover {
      box-shadow: 0 2px 5px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 5%);
      transform: translateY(2px)
    }


    .infoCard-content {
      padding: 16px;
    }
  }

  // add to infoBox to transform into a Post Card for your blog
  &.postCard {
    box-shadow: $card-shadow; 
    background-color: white;
    border-radius: 16px;
    margin: 0;
    padding: 0;

    transition:  0.5s;
    &:hover {
      box-shadow: 0 2px 5px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 5%);
      transform: translateY(2px)
    }

    img {
      border-radius: 16px 16px 0 0;
    }
  

    .infoCard-content {
      padding: 16px;
    }
  }

} 



// add to disable links on cards
.disable-link {
  pointer-events: none;
}