nav {
  // background-color: $primary-color;
  // color: $white;
  display: flex;
  justify-content: space-between;
}
 
// make vh 100 including navbar
.vh-100-w-nav {
  height: calc(100vh - ($nav-link-height + $nav-link-padding-y * 2))
}

.navbar-dark .navbar-toggler {
  border-color: transparent;

  &:focus {
    border-color: transparent;
  }
}

#collapseNavbar {
  text-align: center;
}