.table {
  font-size: 1.1rem;
  color: $primary;
  font-family: 'Work Sans', Sans-Serif;

  th {
    font-weight: 800;
  }

  td {
    font-weight: 100;
  }
}
.table>:not(:first-child) {
  border-top: none;
}