h1 {
  margin-bottom: 32px;
  font-weight: 100;
  text-transform: capitalize;
} 

h2 {
  font-weight: 100;
  text-transform: capitalize;
}

strong {
  color: darken(saturate($secondary, 30%),40%);
  font-weight: inherit;
}